<!DOCTYPE html>
<html>
<head>
	<title> TADASH </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="a task management web app">
    <meta name="author" content="Sidiki Absi Camara">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/lib/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/lib/awesome/css/all.min.css">

</head>

<body>