<% include partials/header %>



<div class="container-fluid">
	<div class="row">
		<div id="main_ctn" class="col-lg-8 col-lg-offset-2 jumbotron">
			<h1> WELCOME TO TADASH </h2>
		</div>
	</div>
	
	<div class="row">
		<div id="task_box" class="col-lg-4 col-lg-offset-2 feat_box">
			<a href="/task"> TASK</a>
		</div>
		<div class="col-lg-4 feat_box">
			<a href="Calendar.html"> CALENDAR</a>
		</div>
	</div>
	


</div>


<% include partials/footer %>