<% include partials/appheader1 %>



<% include partials/appnav %>

<div class="container-fluid">
	<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-lg-offset-3 col-md-offset-3">
      <div class="" id="mainbox" class=" ">
      <h1 id="app_name"> TASK </h1>

      <form class="form-horizontal " autocomplete="off" action="#" onsubmit="return false">
        <input type="text" id="new_task_field" name="new_task_field" class="form-control" placeholder="nouvelle tâche">
        <button type="button" id="add_task" class="btn btn-success btn-block"> <i class="fa fa-plus"></i></button>

      </form>
      <ul id="tsk_ul">
        <li > 
          <span id="checker" class="task_checker"> <i class="fa fa-check"></i></span>
          <span class="trash"> <i class="fa fa-trash"></i></span>
          <span class="task_setting"> <i class="fa fa-cog"></i></span>
           Reviser Javascript 
        </li>
        <li > 
          <span id="checker" class="task_checker"> <i class="fa fa-check"></i></span>
          <span class="trash"> <i class="fa fa-trash"></i></span>
          <span class="task_setting"> <i class="fa fa-cog"></i></span>
           Appeler Massamba 
        </li>
        <li > 
            <span id="checker" class="task_checker"> <i class="fa fa-check"></i></span>
            <span class="trash"> <i class="fa fa-trash"></i></span>
            <span class="task_setting"> <i class="fa fa-cog"></i></span>

            Faire exercise Télécoms
        </li>
        <li > 
            <span id="checker" class="task_checker"> <i class="fa fa-check"></i></span>
            <span class="trash"> <i class="fa fa-trash"></i></span>
            <span class="task_setting"> <i class="fa fa-cog"></i></span>
            Acheter connexion
        </li>
  
      </ul>
    </div>
		
		</div>
	</div>
</div>

<!-- TASK SETTINGS BAR -->
<!-- <div class="" >
  <div id="task_set_container" class="">
    <div id="show_setting_bar">
       <span><i class="fa fa-"></i>+</span>
    </div>
    <div id="task_setting_bar" >
     
      <div id="set_options">
        <ul>
          <li> <span><i class="fa fa-plus"></i></span></li>
          <li> <span><i class="fa fa-star"></i></span></li>
          <li> <span><i class="fa fa-cogs"></i></span></li>
          <li> <span><i class="fa fa-file"></i></span></li>
        </ul>
      </div>
    </div>
  </div>

</div> -->


<!-- TASK SETTING MODAL -->

<div class="modal fade" id="my_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Details </h3>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">
                <span> Titre </span>
              </div>
              <input type="text" class="form-control" id="">
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <p> Début</p>
               <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                      <span> Date </span>
                    </div>
                    <input type="date" class="form-control" id="" name="start_dte">
                </div>
              </div>

            <div class="form-group">
              <div class="input-group">
                  <div class="input-group-addon">
                    <span> Heure </span>
                  </div>
                  <input type="time" class="form-control" id="" name="start_dte">
                </div>
              </div>

            </div>            

            <div class="col-lg-6">
            <p> Fin</p>
            <div class="form-group">
              <div class="input-group">
                  <div class="input-group-addon">
                    <span> Date </span>
                  </div>
                  <input type="date" class="form-control" id="" name="start_dte">
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                  <div class="input-group-addon">
                    <span> Heure </span>
                  </div>
                  <input type="time" class="form-control" id="" name="start_dte">
                </div>
            </div>

            </div> 
          </div>

          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">
                <span> Address </span>
              </div>
              <input type="text" class="form-control" id="">
            </div>
          </div>

          <div class="form-group">
            <label for="tsk_desc" class="col-form-label pull-left">Description</label>
            <textarea class="form-control" id="tsk_desc"></textarea>
          </div>
          

        </form>
      </div>
      <div class="modal-footer">
        <button id="tsk_del_btn" type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-trash"></i> Supprimer</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="">X</i> Annuler</button>
        <button  type="button" class="btn btn-primary"><i class="fa fa-save"></i> Enregistrer</button>
      </div>
    </div>
  </div>
</div>


<% include partials/appfooter1 %>