body{
	background: url("../img/timesand.jpg");
	background-size: cover; 
	background-position: center;
	overflow: hidden;
}

html{
	height: 100%;
}

#mainbox{
	background-color: rgba(255,255,255, 0.5);
	/*width: 40%;*/
	min-width: 250px;
	margin: 0 auto;
	max-height: 600px;
	overflow: auto;
	box-shadow: 1px 1px 1px gray;

}

#app_name{
	font-weight: normal;
	color: white;
	font-family: arkitech;
	text-align: center;
	margin: 0;
	background-color: #222222;
}

form input{
	width: 100%;
}

/*#tsk_ul li::selection{
	background-color: transparent;
}*/

#new_task_field{
	background-color: rgba(0,0,0, 0.5);
	border: 2px solid rgba(0,0,0, 0);
	border-radius: 0;
}

#new_task_field:focus{
	background-color: white;
}
form{
	text-align: right;
}

#tsk_ul{
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: georgia;
	font-size: 18px;
	text-transform: capitalize;

}

#tsk_ul li:nth-child(2n){
	background-color: #f5f5f5;
}

#tsk_ul li{
	height: 40px;
	line-height: 40px;
	cursor: default;
}

.trash{
	background-color: #E20917;
	color: white;
	width:0;
	opacity: 0;
	height: 40px;
	display: inline-block;
	text-align: center;
	transition: 0.2s linear ;
}

.task_setting{
	background-color: blue;
	color: white;
	width:0;
	opacity: 0;
	height: 40px;
	display: inline-block;
	text-align: center;
	transition: 0.2s linear ;
}

.task_checker{
	background-color: green;
	color: white;
	width:0;
	opacity: 0;
	height: 40px;
	display: inline-block;
	text-align: center;
	transition: 0.2s linear ;
}

#tsk_ul li:hover span{
	width: 40px;
	opacity: 1;
}

.done{
	text-decoration: line-through;
	color: red;

}



button[id=add_task]{
	display: none;
}

.hidebtn{
	display: block;
}

.details{

	margin-right: 20px;
	color: #2980b9;

}


/*TASK SETTING BAR*/
#task_set_container{
	position: absolute;
	background-color: #222222;
	width: 500px;
	bottom: 0;
	left: 433px;
	text-align: center;
	font-size: 15px;
	color: white;
	height: 25px;
	transition: 0.2s linear;


}

#task_set_container:hover{
	height: 100px;
}

#task_setting_bar{
	width: 100%;
	display: none;
	opacity: 0;
	padding-top: 10px;
	transition: 1s ease;
	

	/*position: fixed;*/
}

#task_set_container:hover #task_setting_bar{
	display: block;
	opacity: 1;
}

#set_options ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#set_options li{
	
	display: inline-block;
	font-size: 40px;
	border: thin solid white;
	width: 80px;
	margin: 0 5px;

}

#set_options li:hover{
background: white;
color: #222222;
}


/*CHECKER*/
#checker{
	background-color: green: 
}

/*MODAL*/
#my_modal p{
	text-align: left;
}

.input-group-addon span{
	width: 55px;
	display: inline-block;
}
/*====================== HOMEPAGE ========================*/

#main_ctn h1{
	font-family: mistral;
	text-align: center;
}

#main_ctn{
	margin-bottom: 10px;
}
.feat_box{
	background: rgba(0,0,0,0.7);
	text-align: center;
	color: white;
	height: 150px;
	margin: 0 5px;
	border: 0.5px solid white;
	padding-top: 30px;
	font-family: arkitech;
	font-size: 35px;
	color: white
}

.feat_box a{
	color: white;
}

.feat_box:hover{
	background-color: rgba(255,255,255,0.7);
	color: black;
	transition: 0.5s ease;
}

.feat_box:hover a{
	color: black;
	transition: 0.5s ease;
	text-decoration: none;
}

/*============SIGNING IN======================*/
#mainFormBox{
	background-color: rgba(255, 255, 255, 0.5);
	padding: 2%;
	text-align: center;
}

#formContainer{
	padding: 0 10%;
}

#mainFormBox input{
	/*width: 90px;*/
	/*background: rgba(0,0,0, 0.5);*/
}

#pwd2, #pwd{
	/*width: 70%;*/
}

#signInHeader{
	background-color: black;
	color: white;
	margin-top: 3%;
	text-align: center;
	padding-top: 1%;
}

#signInFooter{
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	display: block;
}

#signInFooter input{
	display: inline-block;
	width: 100px;
	padding-bottom: 1%;
}

#signInFooter a{
	display: inline-block;
	width: 120px;
	font-size: 15px;
}